body {
    background-color: rgb(200, 238, 255);
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

.container {
    font-size: 50px;
}

.box {
    margin: 30px;
    border: 5px solid rgb(64, 79, 80)
    gap: 30px;
}

.title {
    font-size: 20px;
    
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    border-color: rgb(45, 56, 56);
    border-width: 5px;
    border-style: double;
    margin: 10px;
    margin-top: 40px;
}

.choices {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 150px;
    border: 1px black dotted;
}

.r,.s,.p {
    display: block ;
    margin: 25px auto;
    width: 150px;
    height: auto;
    justify-content: center;
    text-align: center;
    
    
}
.picks {
    display: flex;
    
}

p {
    text-align: center;
    font-size: 24px;
    height: 24px;
}

.finalResult {
    font-size: 40px;
}